Movies-and-TV-App/pkgs/Wadl/GetMovieByTitle.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetMovieByTitle" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetMovieByTitle" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_posterurl_def" />
      <string name="ResponseActionOutput_title_def" />
      <string name="ResponseActionOutput_year_def" />
      <string name="ResponseActionOutput_genre_def" />
      <string name="ResponseActionOutput_actors_def" />
      <string name="ResponseActionOutput_plot_def" />
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_imdbrating_def" />
      <string name="ResponseActionOutput_language_def" />
      <string name="ResponseActionOutput_country_def" />
      <object name="ResponseActionOutput">
        <property name="posterurl" type="string" />
        <property name="title" type="string" />
        <property name="year" type="string" />
        <property name="genre" type="string" />
        <property name="actors" type="string" />
        <property name="plot" type="string" />
        <property name="status" type="string" />
        <property name="imdbrating" type="string" />
        <property name="language" type="string" />
        <property name="country" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Title" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>